@tailwind base;
@tailwind components;
@tailwind utilities;

/* CUSTOM FONTS */
@font-face {
  font-family: 'BarloesiusSchrift';
  src: url('/fonts/BarloesiusSchrift.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* TO STRETCH TEXT */
.custom-line-height {
  /* Adjust as needed */
  transform: scaleY(6);
}


body {
  overflow: hidden; 
}

.flip-card-inner {
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  backface-visibility: hidden;
}

.flip-card-back {
  transform: rotateY(180deg);
}