.main {
  margin-bottom: 100vh;
  height: 100vh;
  position: relative;
}

.main img {
  object-fit: cover;
}

/* THE MARQUEE TEXT */

.sliderContainer {
  position: absolute;
  top: calc(100vh - 300px);
}

.slider {
  position: relative;
  white-space: nowrap;
  display: flex;
}

.slider p {
  margin: 0px;
  color: white;
  font-size: 240px;
  font-weight: 500;
}
/* SETS THE SECOND PARAGRAPH WAY TO THE SIDE OF THE FIRST */
.slider p:nth-of-type(2) {
  position: absolute;
  left: 100%;
}